	.block{
		width: 100px;
		height: 100px;
		visibility: visible;
	}
	.red{
		border-radius: 50px;
		background-color: red;
	}

	#box1{
		border-radius: 10px;
		width: 100px;
		height: 100px;
		background-color:red;
		display: none;
		margin: 0;
	}

	body{
		font-family: Verdana, Geneva, sans-serif;
	}